lasso-page

<!doctype>
html
	head
		meta name="viewport" content="width=device-width, initial-scale=1"
		title -- Material Marko
		lasso-head
		m-require
	body
		app
		lasso-body
		browser-refresh enabled="true"
