div.buttons-example style={width:"100%",display:"flex",placeContent:"space-evenly",flexWrap:"wrap"}
	m-button -- Click Me
	m-button outlined -- Outlined Button
	m-button contained trailingicon="bookmark" -- Contained Button
	m-button raised icon="favorite" -- Raised Button
	m-button raised disabled -- Disabled
